@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #ff416c, #ff4b2b);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
    min-height: 100vh;
    color: white;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-card {
    width: 380px;
    padding: 30px;
    background: rgba(117, 174, 219, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(218, 134, 134, 0.5);
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.movie-box {
    margin-bottom: 25px;
}

.poster {
    width: 150px;
    border-radius: 12px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.success {
    margin-top: 15px;
    color: #5b9b50;
    font-weight: bold;
    animation: pulse 0.6s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}